<br/>

<table class="table table1 table-striped m-0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Permission</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Phani</td>
      <td>Moderator</td>
      <td>
        <img src="assets/icons/edit.svg" class="icon"/>
        &nbsp;&nbsp;&nbsp;
        <img src="assets/icons/dropdownArrow.svg" class="icon" />
      </td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td>Selvam</td>
      <td>Super Admin</td>
      <td>
        <img src="assets/icons/edit.svg" class="icon"/>
        &nbsp;&nbsp;&nbsp;
        <img src="assets/icons/dropdownArrow.svg" class="icon" />
      </td>
    </tr>
  </tbody>
</table>