<br/>

<table class="table table1 table-striped m-0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Rent</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of listProperties;let i = index">
      <td>{{row.propertyDetails.propertyName}}</td>
      <td>{{row.propertyDetails.propertyType}}</td>
      <td>{{row.propertyDetails.rent}}</td>
      <td>
        <img src="assets/icons/edit.svg" class="icon" (click)="editProperty(row)" />
        &nbsp;&nbsp;&nbsp;
        <img src="assets/icons/dropdownArrow.svg" class="icon" />
      </td>
    </tr>
  </tbody>
</table>