<div class="card-body">
  <form [formGroup]="roomDetailsForm">
    <div class="row">
      <div class="col-4 pb-4">
        <label>Room Title</label>
        <input type="text" formControlName="roomName" class="form-control" placeholder="Enter Property Title"  />
      </div>

      <div class="col-4 pb-4">

        <label>Beds</label>
        <select type="text" formControlName="roomBeds" class="form-control">
          <option value="">No. of Beds</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>

      <div class="col-4 pb-4">

        <label>Baths</label>
        <select type="text" formControlName="roomBaths" class="form-control">
          <option value="">No. of Baths</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>

      <div class="col-4 pb-4">


        <label>Property Type</label>
        <select type="text" formControlName="roomType" class="form-control">
          <option value="">Enter Property Type</option>
          <option value="Deluxe Room">Deluxe Room</option>
          <option value="Premium Room">Premium Room</option>
        </select>

      </div>

      <div class="col-4 pb-4">


        <label>Max. guests</label>
        <select type="text" formControlName="maxGuests" class="form-control">
          <option value="">Enter No. of Guests</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>

      </div>

      <div class="col-4 pb-4">


        <label>Max. Adults</label>
        <select type="text" formControlName="maxAdults" class="form-control">
          <option value="">Enter No. of Adults</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>

      </div>

      <div class="col-4 pb-4">

        <label>Email</label>
        <input type="text" formControlName="email" class="form-control" placeholder="Enter Email Address" />
      </div>

      <div class="col-4 pb-4">

        <label>Max. Children</label>
        <select type="text" formControlName="adults" class="form-control">
          <option value="">Enter No. of Children</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>

      <div class="col-4 pb-4">

        <label>Max. Available rooms</label>
        <select type="text" formControlName="availableRooms" class="form-control">
          <option value="">Enter Available Rooms</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>

      <div class="col-4 pb-4">

        <label>Phone</label>
        <input type="text" formControlName="phone" class="form-control" placeholder="Enter Phone number" />
      </div>


      <div class="col-4 pb-4">

        <label>Rent/Night</label>
        <input type="text" formControlName="rent" class="form-control" placeholder="Price per night" />
      </div>

      <div class="col-12 pb-4">

        <label>Short Description</label>
        <textarea class="form-control" formControlName="shortDescription" class="form-control"
          placeholder="Enter Short Description"></textarea>
      </div>

      <div class="col-12 pb-4">

        <label>Detail Description</label>
        <textarea class="form-control" formControlName="detailDescription" class="form-control"
          placeholder="Enter Proprty Description"></textarea>
      </div>

      <div class="col-6">
        <div class="row">
          <div class="col-12 pb-4">

            <label>Address</label>
            <input type="text" formControlName="address" class="form-control" placeholder="Enter Address" />
          </div>

          <div class="col-12">
            <div class="row">
              <div class="col-lg-6 col-md-6 pb-4">
                <label>Zipcode</label>
                <input type="text" formControlName="zipcode" class="form-control" placeholder="Enter Zipcode" />
              </div>
              <div class="col-lg-6 col-md-6 pb-4">

                <label>City/Town</label>
                <input type="text" formControlName="city" class="form-control" placeholder="Enter City" />
              </div>


              <div class="col-lg-6 col-md-6 pb-4">

                <label>State</label>
                <input type="text" formControlName="state" class="form-control" placeholder="Enter State" />
              </div>


              <div class="col-lg-6 col-md-6 pb-4">

                <label>Nationality</label>
                <input type="text" formControlName="nationality" class="form-control" placeholder="Enter Nationality" />
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
