<div class="h-100 card card-type1 flex-grow-1">
  <div class="row card-header">
    <div class="col-6">
      Mail Subscribers
    </div>

    <div class="col-6 text-right">
      <a type="button" class="btn btn-light" routerLink="../subscribers">Close</a>
      <a type="button" class="btn btn-dark ml-3">Send</a>
    </div>
  </div>

  <div class="card-body mt-3">
    <div class="col-12 pb-4">
      <label>Subject</label>
      <input type="text" class="form-control" placeholder="Enter Subject of Email" />
    </div>

    <div class="col-12 pb-4">
      <label>Message</label>
      <textarea class="form-control" rows="5" placeholder="Enter Subject of Email">Message</textarea>
    </div>
  </div>
</div>