<div class="d-flex h-100 align-items-center bg-white justify-content-between border-y" id="footer">
  <div class="d-flex" style="color:#A8ABBD">
    <div class="pl-4">
      Powered by
    </div>
    <div class="d-flex align-items-center h-100 px-3">
      <img src="assets/logo/zuqo_logo-black.svg" alt="zuqo_logo">
    </div>
  </div>
  <ul class="nav h-100"  id="notifications" style="color:#223979">
    <li class="nav-item px-3">
      <div class="d-flex align-items-center h-100 px-3">
        <small>
          Terms of Use
        </small>
      </div>
    </li>
    <li class="nav-item px-3">
      <div class="d-flex align-items-center h-100 px-3">
        <small>
          Privacy Policy
        </small>
      </div>
    </li>
  </ul>
</div>
