
    <div class="h-100 card card-type1 flex-grow-1">

      <div class="row card-header">
          <div class="col-6">
            Subscribers
          </div>

          
      </div>

      <div class="card-body pt-2">
        <table class="table table1 table-striped m-0">
          <thead>
            <tr>
              <th>Email Id</th>
              <th>Created date</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a routerLink="../mail-subscribers">phani@zuqo.io</a></td>
              <td>13/10/2021</td>
              <td>
                <img src="assets/icons/edit.svg" class="icon" />
                &nbsp;&nbsp;&nbsp;
                <img src="assets/icons/dropdownArrow.svg" class="icon" />
              </td>
            </tr>
          </tbody>

          <tbody>
            <tr>
              <td>phani@zuqo.io</td>
              <td>13/10/2021</td>
              <td>
                <img src="assets/icons/edit.svg" class="icon" />
                &nbsp;&nbsp;&nbsp;
                <img src="assets/icons/dropdownArrow.svg" class="icon" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

<div class="view-image">
  <div class="float-right">
    <i class="fa fa-times text-lg text-light"></i>
  </div>
  <img alt="">
</div>
