<div class="h-100 card card-type1">
  <div class="card-body">
    <div class="row m-0">
      <div class="col-4 p-0">
        <div *ngFor="let team of teams; index as i" class="p-3">
          {{team.name}}
        </div>
      </div>
      <div class="col-4 p-0">
        <div class="">
          supervisors
        </div>
        <div class="">
          supervisors
        </div>
        <div class="">
          supervisors
        </div>
        <div class="">
          supervisors
        </div>
        <div class="">
          supervisors
        </div>
      </div>
      <div class="col-4 p-0">
        <div class="">
          agents
        </div>
        <div class="">
          agents
        </div>
        <div class="">
          agents
        </div>
        <div class="">
          agents
        </div>
        <div class="">
          agents
        </div>
      </div>
    </div>
  </div>
</div>
