<div class="card-body">

  <!-- 
    <div style="border: 1px solid black; box-shadow: inset; border-radius: 5px; margin-bottom: 15px;">
  
      <div class="row">
        <div col-6>
          <p style="margin-top: 10px; margin-left: 30px;">Thumbnail Image</p>
        </div>
        <div col-6>
          <button type="button" class="btn btn-dark mt-2">Upload</button>
        </div>
      </div>
    </div> -->
  
    <div class="row" style="border: 1px solid #7e7878; box-shadow: inset; border-radius: 5px; margin-bottom: 15px;">
      <div class="col-md-6 p-2 mt-1">
        <p>Thumbnail Image</p>
      </div>
  
      <div class="col-md-6 text-right p-2">
        <button type="button" class="btn btn-dark">Upload</button>
      </div>
    </div>
  
    <div class="row" style="border: 1px solid #2e2a2a; box-shadow: inset; border-radius: 5px; margin-bottom: 15px;">
      <div class="col-md-6 p-2 mt-1">
        <p>Property Image</p>
      </div>
  
      <div class="col-md-6 text-right p-2">
        <button type="button" class="btn btn-dark">Upload</button>
      </div>
    </div>
  
    <div class="row" style="border: 1px solid #2e2a2a; box-shadow: inset; border-radius: 5px; margin-bottom: 15px;">
      <div class="col-md-6 p-2 mt-1">
        <p>Videos</p>
      </div>
  
      <div class="col-md-6 text-right p-2">
        <button type="button" class="btn btn-dark">Upload</button>
      </div>
    </div>
  
    <div class="row" style="border: 1px solid #2e2a2a; box-shadow: inset; border-radius: 5px; margin-bottom: 15px;">
      <div class="col-md-6 p-2 mt-1">
        <p>360 degrees</p>
      </div>
  
      <div class="col-md-6 text-right p-2">
        <button type="button" class="btn btn-dark">Upload</button>
      </div>
    </div>
  
  </div>