<div class="card-body">

  <label>Property Amenities</label>
  <div class="row" style="border: 1px solid #2e2a2a; box-shadow: inset; border-radius: 5px; margin-bottom: 15px;">
    <div class="col-md-6 p-2 mt-1">
      <p>Property Image</p>
    </div>

    <div class="col-md-6 text-right p-2">
      <button type="button" class="btn btn-dark">Create</button>
    </div>
  </div>

  <label>Add ons</label>
  <div class="row" style="border: 1px solid #2e2a2a; box-shadow: inset; border-radius: 5px; margin-bottom: 15px;">
    <div class="col-md-6 p-2 mt-1">
      <p>Property Image</p>
    </div>

    <div class="col-md-6 text-right p-2">
      <button type="button" class="btn btn-dark">Create</button>
    </div>
  </div>

  <label>Property Amenities</label>
  <div class="row" style="border: 1px solid #2e2a2a; box-shadow: inset; border-radius: 5px; margin-bottom: 15px;">
    <div class="col-md-6 p-2 mt-1">
      <p>Property Image</p>
    </div>

    <div class="col-md-6 text-right p-2">
      <button type="button" class="btn btn-dark">Create</button>
    </div>
  </div>

  <label>Health and Safety</label>
  <div class="row" style="border: 1px solid #2e2a2a; box-shadow: inset; border-radius: 5px; margin-bottom: 15px;">
    <div class="col-md-6 p-2 mt-1">
      <p>Property Image</p>
    </div>

    <div class="col-md-6 text-right p-2">
      <button type="button" class="btn btn-dark">Create</button>
    </div>
  </div>

  <label>Cancellation</label>
  <div class="row" style="border: 1px solid #2e2a2a; box-shadow: inset; border-radius: 5px; margin-bottom: 15px;">
    <div class="col-md-6 p-2 mt-1">
      <p>Property Image</p>
    </div>

    <div class="col-md-6 text-right p-2">
      <button type="button" class="btn btn-dark">Create</button>
    </div>
  </div>

  <label>Sustainability</label>
  <div class="row" style="border: 1px solid #2e2a2a; box-shadow: inset; border-radius: 5px; margin-bottom: 15px;">
    <div class="col-md-6 p-2 mt-1">
      <p>Property Image</p>
    </div>

    <div class="col-md-6 text-right p-2">
      <button type="button" class="btn btn-dark">Create</button>
    </div>
  </div>
</div>