<div class="h-100 card card-type1 flex-grow-1">
  <div class="row card-header">
    <div class="col-6">
      Role Name
    </div>

    <div class="col-6 text-right">
      <a type="button" class="btn btn-light" routerLink="../admin-management">Close</a>
      <a type="button" class="btn btn-dark ml-3">Save</a>
    </div>
  </div>

  <div class="card-body mt-3">
    <div class="col-12 pb-4">
      <label>Role Name</label>
      <input type="text" class="form-control" placeholder="Enter Role Name" />
    </div>

    <div class="col-12 pb-4">
      <label>Permissions</label>
      <input type="text" class="form-control" placeholder="Select a permissions" />
    </div>
  </div>
</div>